<header>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <img src="icons/logo-skandia.svg" alt="Logo Skandia" class="logo" />
  <span>|&nbsp;</span>
  <h1>Plan Financiero Digital - FPX</h1>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  <div>
    <img src="icons/happy-2.svg" alt="Logo Skandia"/>
    <span>&nbsp;</span>
    <h3 class="link">Tu Financial Planner</h3>
  </div>
  <span>&nbsp;</span>
  <div>
    <img src="icons/hand-money-skandia.svg" alt="Aportes Skandia"/>
    <span>&nbsp;</span>
    <h3 class="link">Aportes</h3>
  </div>
  <span>&nbsp;</span>
  <img src="icons/faq-orange-circle.svg" alt="Aportes Skandia"/>
</header>
