$background-primary-color: #FFFFFF;
$background-secondary-color: #E2E2E2;

$line-border-color: #00000029;

$primary-color: #00C83C;
$secondary-color: #3F3F3F;

$status-card-primary-background-color: #A5D7E1;
$status-card-secondary-background-color: #FECD72;
$status-card-ternary-background-color: #95DBB7;

$card-text-background-color: #EDEDED;

$status-card-primary-line-color: #A4D071;
$status-card-secondary-line-color: $status-card-primary-background-color;
$status-card-ternary-line-color: #63AABC;
$status-card-quaternary-line-color: #FF9460;

$h2-primary-color: #3F3F3F;
$h2-secondary-color: #FE9200;

$card-line-color: #C4C7C4;