@import "styles";

main {
  margin-top: 74px;
  background: url("../../../../../../public/images/background-1@2x.png");
  background-size: contain;
  background-repeat: no-repeat;

  .goal-content {
    text-align: center;

    h2 {
      color: $primary-color;
      margin-bottom: 1rem;
    }

    .goal-card {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #00000029;
      border-radius: 5px;
      color: #363636;
      padding: 1rem;
      margin: 0 auto;
      max-width: 420px;
      text-align: start;

      .subtitle-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h3 {
        font-family: $font-family-secondary;
        color: $secondary-color;
      }
      a {
        text-decoration: underline;
        font: normal normal 600 15px/17px Montserrat;
        color: $primary-color;
      }

      p {
        margin: 0.5rem 0;
      }
      .sub-box {
        display: flex;
        justify-content: space-between;
        .column{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;
        }
      }

      .row.box {

        border-radius: 4px;
        padding: 0px 5px;

      }
      .row.box.blue {
        background: #a5d7e1 0% 0% no-repeat padding-box;

      }
      .row.box.yellow {
        background: #FECD72 0% 0% no-repeat padding-box;
      }
      .row.box.green {
        background: #95DBB7 0% 0% no-repeat padding-box;
        padding: 0px 45px;
      }

      #icon-mountain {
        background: url("../../../../../../public/images/icon-goal-mountain@2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        margin-left: 315px;
      }
    }
  }

  .goal-products {
    padding: 3rem;
    text-align: center;

    h3 {
      font: normal normal normal 16px/24px Verdana;
      color: #3f3f3f;
      padding: 0rem 18rem;
    }

    .bold {
      color: #000;
      font: normal normal bold 16px/24px Verdana;
    }
    .highlight {
      color: #fe9200;
    }

    .product-list {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-around;

      .product-card {
        // width: 40%;
        padding: 0.5rem;
        background-color: $background-primary-color;
        margin: 1rem;
        box-shadow: 0px 0px 6px #00000029;
        -webkit-box-shadow: 0px 0px 6px #00000029;
        -moz-box-shadow: 0px 0px 6px #00000029;

        border-radius: 13px 13px 13px 13px;
        -moz-border-radius: 13px 13px 13px 13px;
        -webkit-border-radius: 13px 13px 13px 13px;

        h3 {
          font-family: $font-family-secondary;
          color: #3f3f3f;
        }

        .subtitle {
          font-family: $font-family-primary;
          size: $font-size-xl;
          color: #363636;
          font-weight: $font-weight-bold;
        }

        .value {
          font: normal normal medium 18px/23px $font-family-primary;
          color: $primary-color;
        }
      }
    }
  }

  .goal-footer {
    text-align: center;
    padding: 2rem;

    .btn-primary {
      color: #3f3f3f;
      padding: 1rem 2rem;
      border: none;
      cursor: pointer;
      font-family: $font-family-primary;
      font-size: 1rem;
      background: #e2e2e2 0% 0% no-repeat padding-box;
      border-radius: 25px;

      &:hover {
        color: #fff;
        background-color: $primary-color;
      }
    }
  }
}

.selectedCard {
  box-shadow: 0 0 1px $primary-color inset, 0 0 2px $primary-color inset,
    0 0 10px $primary-color inset, 0 0 10px $primary-color,
    0 0 5px $primary-color !important;
}
