<main>
  <div style="padding-left: 5%; padding-top: 2%; color: #fff">
    <a href="#" style="color: #fff">
      <img src="icons/home-skandia.svg" alt="Inicio Skandia" />
      Ir a inicio
    </a>
  </div>
  <div class="goal-content" style="background-color: aquamarine">
    <h2>¡Tu objetivo ha sido agregado exitosamente!</h2>
    <h3>¡Te hemos enviado un correo con la notificación!</h3>
    <div class="goal-card">
      <h3>Conocer mi sobrino</h3>
      <p>Camper Heisman</p>
      <p>Meta de ahorro: $6,000,000</p>
      <p>Fecha de cumplimiento: Diciembre/2022</p>
    </div>
  </div>
  <div class="goal-products">
    <h2>
      ¡Vamos por esos <span class="highlight">$6,000,000</span> para Conocer mi
      sobrino!
    </h2>
    <div class="product-list">
      @for ( product of dataProducts; track product.numberProduct; let idx =
      $index, e = $even ) {
      <app-product-card
        class="product-card"
        [product]="product"
        [class.selectedCard]="selectedProduct === product"
        [selectedProduct]="selectedProduct"
        (checkboxChange)="onProductSelect(product, $event)"
        (click)="onProductSelect(product, true)"
      />
      }
    </div>
  </div>
  <div class="goal-footer">
    <button class="btn-primary" (click)="(onSubmit)">Asociar a objetivo</button>
  </div>
</main>
