<main>
  <div class="goal-content">
    <h2>¡Tu objetivo ha sido agregado exitosamente!</h2>
    <div class="goal-card">
      <h3>Conocer mi sobrino</h3>
      <p>Camper Heisman</p>
      <p>Meta de ahorro: $6,000,000</p>
      <p>Fecha de cumplimiento: Diciembre/2022</p>
    </div>
  </div>
  <div class="goal-products">
    <h2>
      ¡Vamos por esos <span class="highlight">$6,000,000</span> para Conocer mi
      sobrino!
    </h2>
    <div class="product-list">
      @for ( product of dataProducts; track product.numberProduct; let idx =
      $index, e = $even ) {
      <app-product-card
        [product]="product"
        class="product-card"
        [selectedProduct]="selectedProduct"
        (checkboxChange)="onCheckboxChange(product, $event)"
        [class.selectedCard]="selectedProduct === product"
      />
      }
    </div>
  </div>
  <div class="goal-footer">
    <button class="btn-primary" (click)="(onSubmit)">Asociar a objetivo</button>
  </div>
</main>
