@import "styles";

.product-card {
  padding: 0px 10px;

  h3 {
    font-family: $font-family-secondary;
    color: $h2-primary-color;
  }

  p {
    color: $h2-primary-color;
  }

  .subtitle {
    font-family: $font-family-primary;
    size: $font-size-xl;
    color: #363636;
    font-weight: $font-weight-bold;
  }

  .value {
    font: normal normal medium 18px/23px $font-family-primary;
    color: $primary-color;
  }

  hr {
    margin: 0% 10% 0% 00%;
  }

  .checkbox-container {
    margin: 10px 6px 0px 0px;
    display: flex;
    justify-content: flex-end;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    border: 0.15rem solid $primary-color;
    border-radius: 0.525rem;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    background-color: $primary-color;
    border-radius: 0.25rem;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
    box-shadow: 0 0 1px $primary-color inset, 0 0 2px $primary-color inset,
      0 0 10px $primary-color inset, 0 0 10px $primary-color,
      0 0 5px $primary-color;
    background: $primary-color;
  }

  input[type="checkbox"]:hover {
    color: black;
  }
}

.sub-card {
  position: relative;
  padding: 10% 4%;
  background: #ededed 0% 0% no-repeat padding-box;
  text-align: center;
  color: $sub-card-text-background-color;

  .sub-card-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
