<div class="product-card">
  <div class="checkbox-container">
    <input
      type="checkbox"
      id="{{ product.number }}"
      [checked]="selectedProduct === product"
      title="Sobre selección item {{ product.name }} #{{ product.number }}"
      (change)="onCheckboxChange($event)"
    />
  </div>
  <h3>{{ product.name }}</h3>
  <p>#{{ product.number }}</p>
  <hr />
  <p class="subtitle">Ya cuentas con:</p>
  <p class="value">{{ product.balance | currencyWithUnit }}</p>
</div>
<div class="sub-card">
  <img src="icons/twitter-skandia.svg" alt="" class="sub-card-icon" />
  ¡Cuentas con {{ product.balance | currencyWithUnit }} para tu objetivo! Te
  recomendamos aportar $388.000 mensuales para lograrlo en diciembre del 2022.
</div>
