<nav id="menu" class="menu">
  <div class="actionbar">
    <div>
      <button id="menuBtn" (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>
      <h3 class="menuText">Dashboard</h3>
    </div>
  </div>
  <ul class="optionsBar">
    <li class="menuItem">
      <a href="#" class="menuOption">
        <!-- <i class="fas fa-home"></i> -->
        <div></div>
        <img src="icons/home-skandia.svg" alt="Home" >
        <h5 class="menuText">Home</h5>
      </a>
    </li>
    <li class="menuBreak">
      <hr />
    </li>
    @for ( itemMenu of itemsMenu; track itemMenu.title; let idx = $index, e =
    $even ) {

    <li class="menuItem">
      <button id="{{ itemMenu.id }}" class="menuOption">
        @if(!itemMenu.title.includes(' ')){
          <div></div>
          <img src="{{ itemMenu.icon }}" alt="{{itemMenu.title}}" >
        }@else {
          <i class="{{ itemMenu.icon }}"></i>
        }
        <h5 class="menuText">{{ itemMenu.title }}</h5>
      </button>
    </li>

    }
  </ul>
  <div class="menuUser">
    <a href="#">
      <div>
        <img src="image/user.jpg" alt="" />
      </div>
      <h5 class="Username menuText">Alex</h5>
      <p class="menuText"><i class="fas fa-chevron-right"></i></p>
    </a>
    <div class="userInfo">
      <div>
        <h1><i class="fas fa-exclamation-circle"></i></h1>
        <p>User Info</p>
      </div>
    </div>
  </div>
  <div class="themeBar">
    <div>
      <button id="themeChangeBtn" (click)="toggleTheme()">
        <i class="fas"></i>
      </button>
    </div>
  </div>
</nav>
